
h3,h1{
    text-align: center;
}
main{


    
    border: solid 2px;
    margin-left: 200px;
    width: 1000px;
    float: left;
    align-self: center ;
    background-color: rgb(11, 223, 47);
}

